<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    
    <%- include('partials/menu') %>
    <script src ="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
    <script src="/js/accounts.js" defer></script>

    <link rel="stylesheet" href="/css/style.css">
 
</head>

<body id="main" class="main">
  <% 
  let totalDKK = 0;
  let totalUSD = 0;
  let totalGBP = 0;
  accounts.forEach(acc => { 
    if (acc.currency === 'DKK') totalDKK += acc.balance;
    if (acc.currency === 'USD') totalUSD += acc.balance;
    if (acc.currency === 'GBP') totalGBP += acc.balance;
  });
  %>

  <h1 class = "accounth1">Choose account</h1>

<button id = "openformbtn">Add account</button>
    <div id = "popupform" class="popup hidden">
        <div id = "insideform">       
            <span id="closeformbtn">X</span>

            <h2>Create account</h2>
            <form action="/accounts" method="post" id = "ledgerform">
                <label for="name">Account name</label>
                <input type="text" name="name" required>
                

                <label for="bank">Bank</label>
                <select name="bank">
                    <option value="Nordea">Nordea</option>
                    <option value="Danske Bank">Danske Bank</option>
                </select>

                <label for="balance"> Starting balance </label>
                <input type="number" name = "balance" required>
               

                <label for="currency">Currency</label>
                <select name="currency" id="choseCurrency">
                    <option value="DKK">DKK</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
            </select>
                
            <button type="submit">Open account</button>
            
        </form>
        </div>
    </div>


    <div class="popup hidden" id="balancepopup">
      <div id="divbalancepopup">
        <span id="closebalancebtn">X</span>
        <h2>Change balance</h2>

        <form action="changebalance" method="post" id="formbalance">
          <label for="action">Choose action</label>
          <select name="action">
            <option value="Deposit">Deposit</option>
            <option value="Withdraw">Withdraw</option>
          </select>

          <label for="amount">Amount:</label>
          <input type="number" name= "amount">

          <input type="hidden" id="accountIdHidden" name="accountId">
          <button type ="submit">Submit Balance</button>

        </form>
      </div>
    </div>

    <!--her vises samlet tabel over kontoer-->
    <table class="accounttable">
        <tr class="thtable">
            <th>Name</th>
            <th>Bank</th>
            <th>Balance</th>
            <th>Last 24h</th>
            <th>Last week</th>
        </tr>
      

            <% accounts.forEach(value => { %>
        <tr>   
            <td><%= value.name %></td> 
            <td><%= value.bank %></td>
            <td><%= value.balance %> <%= value.currency %></td>
            <td>+2%</td>
            <td>+5%</td>

            <td>
            <button class="" id="choseaccount">Chose Account</button>
            <button class="accountbtn" id="changebalance"  data-accountid ="<%= value.account_id%>">Change balance</button>
            <button class="accountbtn" id="deletebtn" data-accountid ="<%= value.account_id%>">Delete account</button>
            </td>
        </tr>
            <%})%>
    </table>
    <!--her vises samlet beløb af valuta-->
    <table class="halfaccounttable">
        <tr class="totalbalance">
            <th> Total balance</th>
        </tr>
            <td> 
                <tr>
                  <td class="samletbalance"><%= totalDKK.toFixed() %> DKK</td>
                </tr>
                <tr>
                  <td class="samletbalance"><%= totalUSD.toFixed() %> USD</td>
                </tr>
                <tr>
                  <td class="samletbalance"><%= totalGBP.toFixed() %> GBP</td>
                </tr>
        </td>
    </table>

          <div id="chartinUSDandDKK"
          data-sumdkk="<%= totalDKK %>"
          data-sumusd="<%= totalUSD %>" 
          data-sumgbp = "<%= totalGBP%>"
          style="width:480px;height:320px;"></div>

  </body>
</html>