<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioTracker</title>
    
    <%- include('partials/menu') %>

    <link rel="stylesheet" href="/css/style.css">
 
</head>
<body id="main" class="main">
    <div class="loginpage">
      <h2>Create Account</h2>
      
            <div class="errorList">
        <% if (errors && errors.length > 0) { %>
            
              <ul class="error-list">
                <% errors.forEach(error => { %>
                  <li><%= error.msg %></li>
                <% }) %>
              </ul>
            
          <% } %>
        </div>
      <!-- Formular for brugeroprettelse -->
      <form action="/createaccount" method="POST">
        <input type="text" name="firstname" class="halfsizeinput" id="firstname" placeholder="First name" value="<%= oldInput?.firstname || '' %>" required>
  
        <input type="text" name="lastname" class="halfsizeinput" id="lastname" placeholder="Last name" value="<%= oldInput?.lastname || '' %>" required>
  
        <input type="text" name="email" class="inputbruger" id="email" placeholder="E-mail" value="<%= oldInput?.email || '' %>" required>
  
        <input type="password" name="password" class="inputbruger" id="password" placeholder="Password" required>
  
        <input type="password" name="repeatpassword" class="inputbruger" id="repeatpassword" placeholder="Repeat Password" required>
  
        <button type="submit" id="loginbtn" class="loginbtn">Create Account</button>
      </form>
    </div>
  </body>
</html>