<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PortofolioTracker</title>

  <%- include('partials/menu') %>

  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js"></script>
</head>
<body class="main">
  <div>
      <h1>Velkommen til <%= user.firstname %></h1>
  </div>


  <!-- Tre bokse over diagrammet -->
<div class="top-boxes">
  <div class="box">
    <h2>Total realized gains</h2>
    <p>
      <%= parseFloat(totalRealizedGain).toLocaleString('da-DK', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> DKK
    </p>
  </div>
  <div class="box">
    <h2>Total unrealized gains</h2>
    <p>
      <%= parseFloat(totalUnrealizedGain).toLocaleString('da-DK', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> DKK
    </p>
  </div>
  <div class="box">
    <h2>Total value</h2>
    <p>
      <%= parseFloat(stocksStats.total_current_value).toLocaleString('da-DK', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> DKK
    </p>
    <p> <%= stocksStats.total_growth_percent %> %</p>
  </div>
</div>

  <!-- To bokse under diagrammet -->
<div class="bottom-boxes">
  <div class="box">
    <h2>Top 5 Unrealized Gains</h2>
    <ul>
      <% if (topUnrealizedGains && topUnrealizedGains.length > 0) { %>
        <table class="unrealized-gains-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Portfolio</th>
              <th>Total Value</th>
              <th>Unrealized Gain</th>
            </tr>
          </thead>
          <tbody>
            <% topUnrealizedGains.forEach((stock, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= stock.company_name %> (<%= stock.ticker %>)</td>
                <td><%= stock.portfolio_name %></td>
                <td><%= stock.current_value.toLocaleString('da-DK', { style: 'currency', currency: 'DKK' }) %></td>
                <td><%= stock.unrealized_gain.toLocaleString('da-DK', { style: 'currency', currency: 'DKK' }) %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <li>No data available</li>
      <% } %>
    </ul>
  </div>

  <div class="box">
    <h2>Top 5 Most Valuable Stocks</h2>
    <ul>
      <% if (topValuedStocks && topValuedStocks.length > 0) { %>
        <table class="top-valued-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Stock</th>
              <th>Portfolio</th>
              <th>Total Value</th>
              <th>Value Per Stock</th>
            </tr>
          </thead>
          <tbody>
            <% topValuedStocks.forEach((stock, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= stock.company_name %> (<%= stock.ticker %>)</td>
                <td><%= stock.portfolio_name %></td>
                <td><%= stock.current_value.toLocaleString('da-DK', { style: 'currency', currency: 'DKK' }) %></td>
                <td><%= stock.last_price.toLocaleString('da-DK', { style: 'currency', currency: 'DKK' }) %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <li>No data available</li>
      <% } %>
    </ul>
  </div>
</div>
<script src="/js/generel.js"></script>
</body>
</html>