<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioTracker</title>
    <%- include('partials/menu') %>
    <link rel="stylesheet" href="/css/style.css">

</head>



<body class="main" id="main">
    <h1>History and information</h1>

    <% if (history && history.length > 0) { %>
        <h2>Transaction History</h2>
        <table border="1">
            <thead class="main" id="main">  
                <tr>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead class="main" id="main">
            <tbody class="main" id="main">
                <% history.forEach(item => { %>
                    <tr>
                        <td><%= new Date(item.trade_time).toLocaleDateString() %></td>
                        <td><%= item.action %></td>
                        <td><%= item.ticker %></td>
                        <td><%= item.price.toFixed(1) %> <%= portfolio.currency %> </td>
                        <td><%= item.volume %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No transactions found for this portfolio.</p>
    <% } %>
</body>
</html>