<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    
    <%- include('partials/menu') %>

    <link rel="stylesheet" href="/css/style.css">
 
</head>
<body id="main" class="main">
    <div class="accountswrap">
        <h1 class="accounth1"><%= portfolio.name %></h1>
        <div class="buttons">
          <button class="popupform" id="historybtn" >See history</button>
          <button class="popupform" id="registertradebtn"  onclick="openRegisterTrade()">Registrer trade</button>
        </div>
      </div>



      <div id="registertrade" class="popup hidden">
        <div id="formAddportfolio">
            <span id="closeformbtn" onclick="closeRegisterTrade()">X</span>
            <h2>Register trade</h2>
            <form action="/registerTrade" method="POST">
                <label>Find company</label>
                <input type="text" id = "searchstock">
                <button type="button" onclick="searchStock()">Search</button>

                <div id="stockResult">
                    <input type="hidden" name="portfolio_id" value="<%= portfolio.portfolio_id %>">
                    <input type="hidden" name="ticker" id="tickerField" readonly><br>
                    <input type="hidden" name="company" id="companyField" readonly>
                    <input type="hidden" name="currency" id="currencyField" readonly>
                  
                    <label>Purchase price</label>
                    <input type="text" name="price" id="priceField" required><br>
            
                    <label>Antal aktier:</label>
                    <input type="number" name="volume" min="1" required><br>
               
            <button type="submit" class="greenbtn">Opret</button>
            </form>
        </div>
    </div>    
    <table class="accounttable">
        <thead>
          <tr><th>Name</th><th>Volume</th><th>Price</th><th>Value</th></tr>
        </thead>
        <tbody>
          <% stocks.forEach(r => { %>
            <tr>
              <td><%= r.company_name %> <br><small><%= r.ticker %></small></td>
              <td><%= r.volume %> stk.</td>
              <td><%= r.last_price %> <%= r.currency %></td>
              <td><%= r.value.toLocaleString() %> <%= r.currency %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <script src="/js/generel.js"></script>
</body>
</html>