<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortofolioTracker</title>
    <%- include('partials/menu') %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="main" class="main">
    <h1>Transaction history for</h1>

    <table  id = "transactiontable" class="accounttable">
        <tr class="thtable">
          <th>Account Name</th>
          <th>Action</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Balance after</th>
          <th>Transaction Time</th>
        </tr>
      
        <% if (transactions.length > 0) { %>
          <% transactions.forEach(value => { %>
            <tr>
              <td><%= value.account_name %></td>
              <td ><%= value.action %></td>
              <td class="<%= value.action === 'Deposit' ? 'deposit' : 'withdraw' %>">
                <%= value.action === 'Withdraw' ? '-' : '+' %><%= value.amount %>
              </td>
              <td><%= value.currency %></td>
              <td><%= value.account_balance %></td>
              <td><%= new Date(value.transaction_time).toLocaleString() %></td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr><td colspan="5">No transactions found.</td></tr>
        <% } %>
      </table>
      <a href="/accounts" id = "gotoaccount">Go back to account overview</a>
      
</body>
</html>